$colors-main: (
  link: (
    400: (
      color: hsl(216, 75%, 50%),
      bg: hsla(221, 75%, 50%, 0.15),
    ),
  ),
  accent: (
    400: (
      color: hsl(216, 100%, 60%),
      text: white,
    ),
  ),
  primary: (
    200: (
      color: hsl(208, 30%, 24%),
      text: white,
    ),
    600: (
      color: hsl(216, 100%, 81%),
      text: black,
    ),
    700: (
      color: hsl(216, 97%, 88%),
      text: black,
    ),
    800: (
      color: hsl(218, 80%, 94%),
      text: black,
    ),
  ),
  neutral: (
    100: hsl(216, 24%, 100%),
    200: hsl(216, 24%, 75%),
    300: hsl(216, 20%, 65%),
    400: hsl(216, 16%, 50%),
    500: hsl(216, 20%, 40%),
    600: hsl(216, 24%, 25%),
    700: hsl(216, 24%, 14%),
    800: hsl(216, 25%, 10%),
    900: hsl(221, 65%, 10%),
  ),
);
